.nav-bar {
    background-color: rgba(26, 30, 67);
    position: relative;
    color: #fff;
    backdrop-filter: blur(10px);
}

.container__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    height: 70px;
}

/* Estilos de redirecciones (menu de navegación) */
.redirections__ ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}

/* Botones Sign Up e Sign In */
.sign__up {
    border: #fff solid 1px;
    padding: 5px 10px;
    border-radius: 7px;
    text-align: center;
    width: 100px;
}

.sign__in {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 7px;
    text-align: center;
    width: 100px;
}

.logo {
    height: 50px;
}

.logo__img {
    height: 100%;
    color: #fff;
    width: auto;
}

a {
    cursor: pointer;
}

/* Estilos para el ícono de hamburguesa */
.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 840px) {
    .redirections__ {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .redirections__.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 99999;
        top: 70px;
        right: 0;
        background-color: rgba(26, 30, 67);
        width: 100%;
        padding: 20px 0;
    }

    .redirections__.open ul {
        flex-direction: column;
        gap: 15px;
    }
}
